In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
ratings = pd.read_csv('u.data',sep='\t',names=
                     ['user_id','item_id','rating','timestamp'])

In [3]:
ratings.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [4]:
movies=pd.read_csv('u.item',sep='|',encoding='latin-1',header=None)

In [5]:
movies= movies.iloc[:,[0,1]]
movies.head()

   0                  1
0  1   Toy Story (1995)
1  2   GoldenEye (1995)
2  3  Four Rooms (1995)
3  4  Get Shorty (1995)
4  5     Copycat (1995)

In [6]:
movies.columns=['movie_id','movie_title']

In [26]:
movies.head(10)

   movie_id                                        movie_title
0         1                                   Toy Story (1995)
1         2                                   GoldenEye (1995)
2         3                                  Four Rooms (1995)
3         4                                  Get Shorty (1995)
4         5                                     Copycat (1995)
5         6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
6         7                              Twelve Monkeys (1995)
7         8                                        Babe (1995)
8         9                            Dead Man Walking (1995)
9        10                                 Richard III (1995)

In [25]:
ratings.head(10)

   user_id  item_id  rating
0      196      242       3
1      186      302       3
2       22      377       1
3      244       51       2
4      166      346       1
5      298      474       4
6      115      265       2
7      253      465       5
8      305      451       3
9        6       86       3

In [9]:
ratings.drop('timestamp',axis=1,inplace=True)

# Building Association Matrix

In [14]:
learningMatrix= ratings.pivot_table(index=['item_id'],columns=['user_id'],values=['rating']).reset_index(drop=True)

In [16]:
learningMatrix.fillna(0,inplace=True)

In [18]:
learningMatrix

        rating                                               ...            \
user_id    1    2    3    4    5    6    7    8    9    10   ...  934  935
0          5.0  4.0  0.0  0.0  4.0  4.0  0.0  0.0  0.0  4.0  ...  2.0  3.0
1          3.0  0.0  0.0  0.0  3.0  0.0  0.0  0.0  0.0  0.0  ...  4.0  0.0
2          4.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
3          3.0  0.0  0.0  0.0  0.0  0.0  5.0  0.0  0.0  4.0  ...  5.0  0.0
4          3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
...        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1677       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
1678       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
1679       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
1680       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0
1681       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0


user_id  936  937  938  939  940  941  942  943
0        4.0  0.0  4.0  0.0  0.0  5.0  0.0  0.0
1        0.0  0.0  0.0  0.0  0.0  0.0  0.0  5.0
2        4.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3        0.0  0.0  0.0  0.0  2.0  0.0  0.0  0.0
4        0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...  ...
1677     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1678     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1679     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1680     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1681     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[1682 rows x 943 columns]

# Finding Similarity between the movies(items)

In [19]:
from sklearn.metrics import pairwise_distances

In [22]:
movie_similarity = pairwise_distances(learningMatrix,metric='cosine')
np.fill_diagonal(movie_similarity,0)

In [24]:
similarity_matrix = pd.DataFrame(movie_similarity)
similarity_matrix.head(15)

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,0.000000,0.597618,0.669755,0.545062,0.713286,0.883656,0.379021,0.518886,0.503712,0.726065,...,0.964613,1.000000,1.000000,1.000000,0.964613,1.0,1.0,1.0,0.952817,0.952817
1,0.597618,0.000000,0.726931,0.497429,0.681164,0.916437,0.616597,0.662998,0.744748,0.828918,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.921701,0.921701
2,0.669755,0.726931,0.000000,0.675134,0.787043,0.893278,0.627079,0.799206,0.726331,0.841896,...,1.000000,1.000000,1.000000,1.000000,0.967708,1.0,1.0,1.0,1.000000,0.903125
3,0.545062,0.497429,0.675134,0.000000,0.665761,0.909692,0.510717,0.509764,0.580956,0.747439,...,1.000000,1.000000,0.905978,0.905978,0.962391,1.0,1.0,1.0,0.943587,0.924782
4,0.713286,0.681164,0.787043,0.665761,0.000000,0.962701,0.665231,0.740839,0.727552,0.944547,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.905789
5,0.883656,0.916437,0.893278,0.909692,0.962701,0.000000,0.860383,0.916124,0.848936,0.796903,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
6,0.379021,0.616597,0.627079,0.510717,0.665231,0.860383,0.000000,0.576485,0.472538,0.681377,...,1.000000,0.948502,1.000000,1.000000,0.948502,1.0,1.0,1.0,0.948502,0.948502
7,0.518886,0.662998,0.799206,0.509764,0.740839,0.916124,0.576485,0.000000,0.575571,0.732236,...,1.000000,0.917967,0.934373,0.934373,0.917967,1.0,1.0,1.0,0.917967,1.000000
8,0.503712,0.744748,0.726331,0.580956,0.727552,0.848936,0.472538,0.575571,0.000000,0.711486,...,1.000000,1.000000,0.942640,0.942640,0.928300,1.0,1.0,1.0,0.942640,0.928300
9,0.726065,0.828918,0.841896,0.747439,0.944547,0.796903,0.681377,0.732236,0.711486,0.000000,...,1.000000,1.000000,0.919736,0.919736,1.000000,1.0,1.0,1.0,1.000000,1.000000
10,0.531709,0.531494,0.638835,0.411663,0.624191,0.936013,0.431156,0.564523,0.557890,0.776226,...,1.000000,0.951088,0.918481,0.918481,0.918481,1.0,1.0,1.0,0.967392,0.934785
11,0.539608,0.540054,0.680705,0.415116,0.626176,0.855529,0.431114,0.495094,0.512285,0.732150,...,1.000000,1.000000,0.945144,0.945144,0.931430,1.0,1.0,1.0,0.958858,0.945144
12,0.582491,0.786028,0.728598,0.602749,0.803505,0.729139,0.532609,0.651709,0.588385,0.665739,...,1.000000,1.000000,1.000000,1.000000,0.938049,1.0,1.0,1.0,1.000000,1.000000
13,0.652322,0.874537,0.809758,0.733236,0.896712,0.746165,0.669383,0.697278,0.538719,0.674602,...,1.000000,0.909642,1.000000,1.000000,0.927713,1.0,1.0,1.0,1.000000,0.909642
14,0.425623,0.746838,0.733665,0.669543,0.734877,0.907242,0.564845,0.619584,0.526264,0.833798,...,0.925156,1.000000,1.000000,1.000000,0.955094,1.0,1.0,1.0,0.955094,1.000000

# Recommendation System in Action

In [29]:
movies[movies['movie_title']=='Copycat (1995)'].index.tolist()

[4]

In [32]:
try:
    user_inp=input('Enter the reference movie title based on which recommendations are to be made : ')
    
    inp=movies[movies['movie_title']==user_inp].index.tolist()
    
    inp=inp[0]
    
    movies['similarity']=similarity_matrix.iloc[inp]
    
    print('Recommended movies based on your choice of',user_inp,': \n',movies.sort_values(['similarity'],ascending=False)[1:10])

except:
    print('The movie name you entered does not exist in the list, however, below are the top movies recommended in general')
    print(movies.head(10))

Enter the reference movie title based on which recommendations are to be made : Copycat (1995)
Recommended movies based on your choice of Copycat (1995) :
       movie_id                            movie_title  similarity
1037      1038                      Switchback (1997)         1.0
1496      1497   Line King: Al Hirschfeld, The (1996)         1.0
1492      1493                Modern Affair, A (1995)         1.0
1491      1492                 Window to Paris (1994)         1.0
1485      1486            Girl in the Cadillac (1995)         1.0
1476      1477                      Nightwatch (1997)         1.0
1475      1476                        Raw Deal (1948)         1.0
1471      1472  Visitors, The (Visiteurs, Les) (1993)         1.0
1124      1125                  Innocents, The (1961)         1.0